In [1]:
import pandas as pd
import numpy as np

In [2]:
#Consider following code to answer further questions:

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]

In [3]:
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [5]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.

df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

df.iloc - Purely integer-location based indexing for selection by position. iloc is integer position-based, so you have to specify 
        rows and columns by their integer position values (0-based integer position).

df.loc - Access a group of rows and columns by label(s) or a boolean array. loc is label-based, which means that you have to specify 
        rows and columns based on their row and column labels.

In [6]:
'''Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df 
 then find the output for both new_df.loc[2] and new_df.iloc[2]. Did you observe any difference in both the outputs? If so then 
 explain it.'''

new_df = df.reindex([3,0,1,2])

In [7]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [8]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [9]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [10]:
# new_df.loc[2] is giving the output for row which is having index marked as 2 but new_df.iloc[2] is giving giving the output 
# for row which is having actual index as per series is 2, which means iloc function gets affected by reindexing while loc doesn't with 
# respect to original dataframe.

In [11]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

In [12]:
#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.852773  0.288173  0.415126  0.781087  0.889921  0.246147
2  0.727172  0.738266  0.228770  0.859182  0.005938  0.664100
3  0.346691  0.075314  0.222613  0.479822  0.020198  0.932544
4  0.339136  0.936749  0.930939  0.690177  0.383812  0.091783
5  0.631094  0.538228  0.856975  0.101315  0.969994  0.622223
6  0.511814  0.408314  0.867051  0.217659  0.283901  0.059670

In [14]:
#Q4. Write a code to find the following statistical measurements for the above dataframe df1:
df1["column_1"].mean()

0.5681132878076792

In [15]:
#(i) mean of each and every column present in the dataframe.

for i in df1.columns:
    print(f"The mean for {i} is {df1[i].mean()}.\n")

The mean for column_1 is 0.5681132878076792.

The mean for column_2 is 0.49750722957570287.

The mean for column_3 is 0.5869123335691255.

The mean for column_4 is 0.5215403874179525.

The mean for column_5 is 0.42562751755621536.

The mean for column_6 is 0.43607790644967026.

In [16]:
#(ii) standard deviation of column, ‘column_2’

print(f"The standard deviation for column_2 is {df1['column_2'].std()}.")

The standard deviation for column_2 is 0.31067019891998215.

In [17]:
'''Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]
'''

df1.loc[2,'column_2'] = "rushiraj"

In [18]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.852773  0.288173  0.415126  0.781087  0.889921  0.246147
2  0.727172  rushiraj  0.228770  0.859182  0.005938  0.664100
3  0.346691  0.075314  0.222613  0.479822  0.020198  0.932544
4  0.339136  0.936749  0.930939  0.690177  0.383812  0.091783
5  0.631094  0.538228  0.856975  0.101315  0.969994  0.622223
6  0.511814  0.408314  0.867051  0.217659  0.283901  0.059670

# Explaination

 During executing df1["column_2"].mean() i am getting a error which says (TypeError: unsupported operand type(s) for +: 'float' 

and 'str') because mean() function can be applied only on numerals/numbers but within column_2 in modified dataframe we have included 

a foreign value to be precise a string value which is giving an error during mean calculation.

In [19]:
'''Q6. What do you understand about the windows function in pandas and list the types of windows functions?

Ans - A window function executes a calculation across a related set of table rows to the current row. It is also called SQL analytic
    function. It uses values from one or different rows to return a value for each row. 
    
    Types of windows functions are as follows:-
    
    1. Rolling window: Generic fixed or variable sliding window over the values.
    
    2. Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.
    
    3. Expanding window: Accumulating window over the values.
    
    4. Exponentially Weighted window: Accumulating and exponentially weighted window over the values.
    
'''

'Q6. What do you understand about the windows function in pandas and list the types of windows functions?\n\nAns - A window function executes a calculation across a related set of table rows to the current row. It is also called SQL analytic\n    function. It uses values from one or different rows to return a value for each row. \n    \n    Types of windows functions are as follows:-\n    \n    1. Rolling window: Generic fixed or variable sliding window over the values.\n    \n    2. Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.\n    \n    3. Expanding window: Accumulating window over the values.\n    \n    4. Exponentially Weighted window: Accumulating and exponentially weighted window over the values.\n    \n'

In [20]:
from datetime import datetime

'''Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]'''

currentMonth = datetime.now().month
currentYear = datetime.now().year

In [21]:
currentMonth

3

In [22]:
currentYear

2023

In [39]:
'''Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.
'''

date1 = str(input("Enter a date (in the format YYYY-MM-DD ) :"))
date2 = str(input("Enter another date (in the format YYYY-MM-DD ) :"))
past_date = pd.to_datetime(date1)
future_date = pd.to_datetime(date2)
time_difference = pd.Timedelta(future_date - past_date)

print("\n"f"The difference between your input dates is {time_difference}.")

Enter a date (in the format YYYY-MM-DD ) : '2022-06-20'
Enter another date (in the format YYYY-MM-DD ) : '2023-03-20'

The difference betwwen your input dates is 273 days 00:00:00.

In [40]:
#practice and trial code

In [24]:
def past_future(date1, date2):
    past_date = pd.to_datetime(date1)
    future_date = pd.to_datetime(date2)
    time_difference = pd.Timedelta(future_date - past_date)
    return time_difference

In [25]:
past_future('2022-06-20', '2022-06-20')

Timedelta('365 days 00:00:00')

In [26]:
past_future(date1,date2)

Timedelta('3 days 00:00:00')

In [34]:
past_future()

Timedelta('365 days 00:00:00')

In [35]:
past_future()

Timedelta('365 days 00:00:00')

In [ ]:
pd.to_datetime