## Assignment no 44 Nominal & One Hot Encoding (20.3.23)

In [ ]:
Q1. What is data encoding? How is it useful in data science?

Ans - Sometimes, when the dataset contains some features which are categorical in nature and only understandable and
    readable by humans, precisely by data professionals who are working with the data, but cant be used to predict the         target or dependent variable because computer cant undersatnd it to use for prediction in program or algorithm.
      For this prediction we convert that particular categorical variable into numerical one. This conversion process is 
    specifically called as 'DATA ENCODING'.
      Models only work with numerical values. For this reason, it is necessary to convert the categorical values of the 
    features into numerical ones, So the machine can learn from those data and gives the right model. Encoding or 
    continuization is the transformation of categorical variables to binary or numerical counterparts. 
        An example is to treat male or female for gender as 1 or 0. Categorical variables must be encoded in many modeling 
    methods (e.g., linear regression, SVM, neural networks).

In [ ]:
Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Ans - 
    When we have a feature where variables are just names and there is no order or rank to this variable's feature then this
  type of encoding is called as NOMINAL ENCODING.

    For example: City of person lives in, Gender of person, Marital Status, etcâ€¦

        In the above example, We do not have any order or rank, or sequence. All the variables in the respective feature are 
    equal. We can't give them any orders or ranks. Those features are called Nominal features.

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

df_music = pd.DataFrame({'Music': ['Rock', 'Jazz', 'Pop','Country', 'HipHop','Classical']    
})

df_music.head()

     Music
0     Rock
1     Jazz
2      Pop
3  Country
4   HipHop

In [2]:
encoder = OneHotEncoder()
encoded = encoder.fit_transform(df_music)
encoded_df = pd.DataFrame(encoded.toarray(), columns=encoder.get_feature_names_out())

In [3]:
new_df = pd.concat([df_music, encoded_df], axis=1)
new_df

,Music,Music_Classical,Music_Country,Music_HipHop,Music_Jazz,Music_Pop,Music_Rock
0,Rock,0.0,0.0,0.0,0.0,0.0,1.0
1,Jazz,0.0,0.0,0.0,1.0,0.0,0.0
2,Pop,0.0,0.0,0.0,0.0,1.0,0.0
3,Country,0.0,1.0,0.0,0.0,0.0,0.0
4,HipHop,0.0,0.0,1.0,0.0,0.0,0.0
5,Classical,1.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Ans -   Nominal encoding is type of categorical features encoding where the order or rank of variable doesnt matters on the 
    other hand One-Hot Encoding is another popular technique for treating categorical variables. It simply creates additional
    features based on the number of unique values in the categorical feature. Every unique value in the category will be added 
    as a feature.
        Now consider if there any countries included within dataset and that we have to encode for the Machine Learning algorithm.
    If we use nominal encoding it will gives each code for each country eg. say we have 50 countries included within dataset
    then nominal encoding give code for america say 1, america 2 which is handy and comfortable.
        On the other hand if we try to use One Hot Encoding it will create 50 number of coded features which will increase the
    features within dataset and also consume the memory wwithin model.

In [ ]:
Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
technique would you use to transform this data into a format suitable for machine learning algorithms?
Explain why you made this choice.

Ans - If we have a dataset containing categorical data with 5 unique values, we could use nominal encoding techniques such 
    as one-hot encoding to transform this data into a format suitable for machine learning algorithms. In one-hot encoding, 
    we would create 5 new binary features, one for each unique category value, and assign a value of 1 to the corresponding 
    feature for each data point.

        The reason why we would choose one-hot encoding in this scenario is that nominal encoding techniques such as one-hot
    encoding are preferred for categorical data because they can accurately represent the categorical data in numerical form 
    without creating false relationships between categories. Other encoding techniques, such as label encoding, can create 
    false relationships between categories by assigning numerical labels that imply an order or ranking to the categories.

In [ ]:
Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
transform the categorical data, how many new columns would be created? Show your calculations.

Ans - 
    If we use nominal encoding to transform the two categorical columns in the dataset, we would create new binary features 
for each unique category value in each column. The number of new binary features created for each column would depend on the 
number of unique category values in each column.

    Let's assume that the first categorical column has 4 unique category values, and the second categorical column has 6 
unique category values. To perform one-hot encoding on these columns, we would create 4 new binary features for the first column (one for each unique category value), and 6 new binary features for the second column (again, one for each unique category value). Each row in the original dataset would then be represented by the original three numerical columns, as well as the 4 binary features for the first categorical column and the 6 binary features for the second categorical column.

Therefore, the total number of new columns created through one-hot encoding would be:

        4 + 6 + 3 = 13

    So we would have 13 columns in the transformed dataset after nominal encoding.

In [ ]:
Q6. You are working with a dataset containing information about different types of animals, including their
species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
a format suitable for machine learning algorithms? Justify your answer.

Ans - 
    For transforming the categorical data in the animal dataset, I would use nominal encoding techniques, such as one-hot 
encoding. This is because nominal encoding techniques are preferred for categorical data since they can accurately represent
the categorical data in numerical form without creating false relationships between categories.

    In the animal dataset, we have categorical variables such as species, habitat, and diet. One-hot encoding would be a 
suitable technique for encoding these variables. For example, we could create binary features for each unique value in the 
species variable, such as lion, tiger, and leopard. Similarly, we could create binary features for each unique value in the 
habitat and diet variables, such as forest, grassland, and carnivorous.

In [ ]:
Q7.You are working on a project that involves predicting customer churn for a telecommunications
company. You have a dataset with 5 features, including the customer's gender, age, contract type,
monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

Ans -
    1. Identify the categorical variables in the dataset. In this case, the only categorical variable is the customer's 
        gender.

    2. Apply one-hot encoding to the categorical variable. This involves creating a new binary feature for each unique 
        category value in the gender variable (i.e., male and female). We can achieve this by using the get_dummies() 
        function in Python's Pandas library. This function creates new binary columns for each unique category value and 
        assigns a value of 1 to the corresponding column for each data point.

    3. Drop the original categorical variable (gender) from the dataset. We no longer need this variable since we have 
       already encoded it using one-hot encoding.

    4. The remaining four features (age, contract type, monthly charges, and tenure) are numerical and do not require any 
        encoding.